 {% extends 'base.html.twig' %}

{% block header %}
    <h2 class="text-center">Weather Forecast</h2>
{% endblock %}

{% block body %}
    <div class="row">
        <h1 class="text-center">Trondheim</h1>

        {%  for weatherData in weatherDataList %}
        <div class="small-12 medium-6 large-3 columns ">
            <div class="weather">
                <h5>{{ 'now'|date('Y-m-d') == weatherData.time|date('Y-m-d') ? 'Today' : weatherData.time|date('l') }}</h5>
                <h6>{{ weatherData.time|date('H:s')}}</h6>
                <h6> Temperature: {{ weatherData.temperatureInCelsius | round }} &deg;C</h6>
                <h6>{{ weatherData.weatherType }}</h6>
            </div>
        </div>
    {%endfor%}
    </div>
{% endblock %}

{% block footer %}
    <p class="text-center weather-footer">Copyright &COPY; Vektorvær {{ 'now'|date('Y') }}</p>
{% endblock %}